
.mainFont
{
    font-family:'Raleway', sans-serif;
}
body
{
    height: 20000px;
}
/* box section */

.box
{
    width: 50px;
    height: 40px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    background-color: #1bac91;
    opacity: 0.4;
    
    
}
.overlay
{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: gray;
    z-index: 999999999;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* end box section */
/* start navbar section */

.navbar ul li a{
    color: #fff !important;
}
.navbar ul li{
    padding-left: 5px;
    transition: all 1s;
}
.navbar
{
    background-color: transparent !important;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all 1s  ;
}


.navbar .active a
{
    border-bottom: 2px solid #1bac91;
    
}
.navbar .navbar-brand
{
    font-weight: bolder;
    font-size: 1.6rem;
    letter-spacing: 4px;
    font-family: 'Raleway', sans-serif;
}
.dropdown-item:hover{
    color: black !important;
}
.dropdown-menu
{
    background-color: black ;
}
/* end navbar section  */


/* start section home */
.home
{
    background-image: url("../img/hero-bg.jpg");
    background-size: 100% 100%;
    height: 100vh;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.home p{
    color: rgb(218, 210, 210);
    font-size: 1.2rem;
}
.mainBackColor
{
    background-color:#1bac91 ;
}
.mainColor
{
    color: #1bac91;
}
.home .btn:hover
{
    border: 1px solid #1bac91;
}
.home .btn
{
    color: #fff;
    border:1px solid #fff;
    padding: 10px 30px;;
    transition: all 1s;


}
/* end section home */

 /* start about section */
.about h4
{
    font-weight: 400;
}
.about h2{
    font-weight: 400;
}

/* end about secion  */

/* start number section */


.number
{
    background-color: #f2f9f8;
}
.number .p-5
{
    border-left: 1px solid #d4e9e6;
    border-bottom: 1px solid #d4e9e6;
}
.number h3
{
    font-weight: 400;
}
/* end number section
 */

 /* start media section */

 .media .item
 {
     transition: all 0.4s;

 }
 .media .active
 {
     box-shadow: 5px 3px 20px rgb(216, 213, 213);
 }
.media img
{
    transition: all 1s;
}
 /* end media section */

/* start services section */

.services
{
    background-color: #f2f9f8;
}
.services h2{
    font-weight: 200;
    font-size: 30px;
}
/* end services section
 */
@media screen and (max-width:576px)
{

    .home
    {
        text-align: center;
        
    }
    .about-info
    {
        margin-top: 40px;
    }
    .navbar-nav
{
    background-color: black ;
}
   
}
@media screen and (min-width:576px) and (max-width:768px)
{
    .home
    {
        text-align: center;

    }
    .about-info
    {
        margin-top: 40px;
    }
    .navbar-nav
{
    background-color: black ;
}
}
@media screen and (min-width:769px) and (max-width:992px)
{
    .home
    {
        text-align: center;
    }
    .about-info
    {
        margin-top: 40px;
    }
    .navbar-nav
{
    background-color: black ;
}

}
@media screen and(min-width:993px)
{
    .home
    {
        text-align: center;
        font-size: 1rem;
    }
}
