
.mainFont
{
    font-family:'Raleway', sans-serif;
}
body
{
    height: 20000px;
}
/* box section */

.box
{
    width: 50px;
    height: 40px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    background-color: #1bac91;
    opacity: 0.4;
    
    
}
.overlay
{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: gray;
    z-index: 999999999;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* end box section */
/* start navbar section */

.navbar ul li a{
    color: #fff !important;
}
.navbar ul li{
    padding-left: 5px;
    transition: all 1s;
}
.navbar
{
    background-color: transparent !important;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all 1s  ;
}


.navbar .active a
{
    border-bottom: 2px solid #1bac91;
    
}
.navbar .navbar-brand
{
    font-weight: bolder;
    font-size: 1.6rem;
    letter-spacing: 4px;
    font-family: 'Raleway', sans-serif;
}
.dropdown-item:hover{
    color: black !important;
}
.dropdown-menu
{
    background-color: black ;
}
/* end navbar section  */


/* start section home */
.home
{
    background-image: url("../img/hero-bg.jpg");
    background-size: 100% 100%;
    height: 100vh;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
.home p{
    color: rgb(218, 210, 210);
    font-size: 1.2rem;
}
.mainBackColor
{
    background-color:#1bac91 ;
}
.mainColor
{
    color: #1bac91;
}
.home .btn:hover
{
    border: 1px solid #1bac91;
}
.home .btn
{
    color: #fff;
    border:1px solid #fff;
    padding: 10px 30px;;
    transition: all 1s;


}
/* end section home */

